.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-duration: 2s;
  animation-name: slidein; 
  margin-top: 45px;
}

@keyframes slidein {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.container img {
  border-radius: 50%;
  width: 450px;
  height: 450px;
  margin: 20px;
}

.container h1 {
  font-size: 48px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.container h2 {
  margin: 5px;
}

.info {
  text-align: center;
  height: 200px;
}

.info h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.icon {
  display: flex;
  height: 80px;
  gap: 30px;
}

.icon a {
  margin: 0;
}

.icon img {
  width: 75px;
  height: 75px;
  margin-bottom: 25px;
}

@media screen and (max-width: 450px) {
  .container {
    width:100%;
    height: 100%;
  }
  
  .container img {
    width: 250px;
    height: 200px;
  }

  .container h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon img{
    width: 100%;
    height: 50%;
  }

  @keyframes slidein {
    from {
      translate: 150vw 0;
      scale:200%
    }
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
}