.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 4px;
  padding: 20px 0 20px 0;
  margin-top: 75px;
  width:50%;
  background-color: rgba(59, 101, 216, 0.6);
}
/* #resume img {
  width: 300px;
} */

.container a {
  width: 500px;
}

.container h1 {
  font-size: 48px;
}
