.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 6px;
  box-shadow: 2px 2px 2px 2px;
  padding: 20px 0 20px 0;
  margin-top: 75px;
  width: 700px;
  background-color: rgba(153, 175, 235, 0.6);
}

.container a {
  width: 500px;
}

.container a:hover{
  animation: up 1s ease ;
  animation-fill-mode: forwards;
}

@keyframes up {
  0% {
    transform: translateY(0%) ; 
  }
  100% {
    transform: translateY(-10%)
  }
}

.container h1 {
  font-size: 48px;
}
